h1= "TinyApp"
h2=site_url
div(class="headLink")
  a(href="/urls") Home  
  a(href="/urls/new")  | New 
  if cookie
    p=cookie
    form(method="POST" action=`/logout`)
      input(type="submit" name="logOut" value="Logout")
  else 
    a(href="login") | Login
    a(href="/register")  | register 