include ./partials/head
    include ./partials/header
    include ./partials/cookie
    ul
      each val, key in db
        form(method="POST" action=`/urls/${key}/delete`)
          input(type="submit" name="delete" value="Delete")
        a(href=`/urls/${key}`)
          button Update 
        li=key + ' ' + ' ' + val
        
    