include ./partials/head
    include ./partials/header
    if db
      ul
        each val, key in db
          form(method="POST" action=`/urls/${key}/delete`)
            input(type="submit" name="delete" value="Delete")
          a(href=`/urls/${key}`)
            button Update 
          li=key + ' ' + ' ' + val
    else 
      h4 you have no urls start by 
        a(href="/urls/new") adding some?

        
    