include ./partials/head
    include ./partials/header
    ul
      each val, key in db
        form(method="POST" action=`/urls/${key}/delete`)
          input(type="submit" name="delete" value="Delete")
        li=key + ' ' + ' ' + val
        
    